<%- include("template/cabecera",{tituloWeb:"AlbumFotografico"})%>
<body onload="estado_botones_1() " >
    <%- include("template/plantilla_nav")%>

    <div id="carouselExampleAutoplaying" class="carousel slide"  data-bs-ride="carousel" style = "width: 100%; height : 100%;">

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000" >
            <img src="<%= primera_foto.url %>"  alt="..." class = "d-block w-100" style = "width: 100%; height : 720px;opacity: 0.9;">
            <div class="carousel-caption d-none d-md-block"> 
              <h5 class = "textoh5" ><%= primera_foto.nombre %></h5>

            </div>
          </div>
          
            <% arr.forEach(function(foto) { %>
              <div class="carousel-item" data-bs-interval="2000" >
                <img src="<%= foto.url %>" class="d-block w-100 foto" alt="<%= foto.descripcion %>" style="width: 100%; height : 720px;opacity: 0.7;">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="textoh5" ><%= foto.nombre %></h5>
                </div>
              </div>
              
            <% }); %>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>

     
  

</body>
</html>

<script type="text/javascript">

   
   
</script>